<%- include('../includes/head.ejs') %>
  </head>
  <body>
    <main>
      <article>
        <header>
          <h2><%= contact.surname %>, <%= contact.name %></h2>
          <p><%= contact.type %></p>
          <p><%= contact.group %></p>
          <p><%= contact.telefon %></p>
          <p><%= contact.email %></p>
        </header>
      </article>
    </main>
  </body>
</html>
